@import "tailwindcss";

@theme {
  --color-medGreen-50: #f2fbf2;
  --color-medGreen-100: #e6f7e6;
  --color-medGreen-500: #77DD77;
  --color-medGreen-600: #5ec15e;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#faf0e6];
}
